[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "~=3.1.2"
motor = "~=3.7.0"
natural = "~=0.2.0"
pymongo = "~=4.11.2"  # Required by motor
pyjwt = "~=2.10.1"
python-dateutil = "~=2.8.2"
python-dotenv = "~=0.18.0"
sanic = "~=24.12.0"
requests = "*"

[scripts]
logviewer = "python app.py"
